<div class="products">
    <div class="product">
        <mat-card>
            <p>Playstation 5</p>
            <p>$ <strong>450.00</strong></p>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3SMotBBgIf_sP19XyK3Pyh21I98O0Z03XDACeqMT9tP6WAO7T8XfV-2YJ4HN8RPF3-Uw&usqp=CAU" alt="" class="product_image">
            <button>Add to cart</button>
        </mat-card>
    </div>
    <div class="product">
        <mat-card>
            <p>Playstation 5</p>
            <p>$ <strong>450.00</strong></p>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3SMotBBgIf_sP19XyK3Pyh21I98O0Z03XDACeqMT9tP6WAO7T8XfV-2YJ4HN8RPF3-Uw&usqp=CAU" alt="" class="product_image">
            <button>Add to cart</button>
        </mat-card>
    </div>
    <div class="product">
        <mat-card>
            <p>Playstation 5</p>
            <p>$ <strong>450.00</strong></p>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3SMotBBgIf_sP19XyK3Pyh21I98O0Z03XDACeqMT9tP6WAO7T8XfV-2YJ4HN8RPF3-Uw&usqp=CAU" alt="" class="product_image">
            <button>Add to cart</button>
        </mat-card>
    </div>
    <div class="product">
        <mat-card>
            <p>Playstation 5</p>
            <p>$ <strong>450.00</strong></p>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3SMotBBgIf_sP19XyK3Pyh21I98O0Z03XDACeqMT9tP6WAO7T8XfV-2YJ4HN8RPF3-Uw&usqp=CAU" alt="" class="product_image">
            <button>Add to cart</button>
        </mat-card>
    </div>
    <div class="product">
        <mat-card>
            <p>Playstation 5</p>
            <p>$ <strong>450.00</strong></p>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3SMotBBgIf_sP19XyK3Pyh21I98O0Z03XDACeqMT9tP6WAO7T8XfV-2YJ4HN8RPF3-Uw&usqp=CAU" alt="" class="product_image">
            <button>Add to cart</button>
        </mat-card>
    </div>
    <div class="product">
        <mat-card>
            <p>Playstation 5</p>
            <p>$ <strong>450.00</strong></p>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3SMotBBgIf_sP19XyK3Pyh21I98O0Z03XDACeqMT9tP6WAO7T8XfV-2YJ4HN8RPF3-Uw&usqp=CAU" alt="" class="product_image">
            <button>Add to cart</button>
        </mat-card>
    </div>
</div>